<div class="row">

    <div class="col-sm-11">

        <div class="testimonial">
            {% if is_granted('ROLE_MEMBER') %}
            <a href="{{ path('comments_new',{'id':provider.id}) }}"
               class=" btn btn-xs btn-primary pull-right ">Ajouter</a>
            {% endif %}
            <h3 style="margin-left:100px;"> COMMENTAIRES DES INTERNAUTES</h3>


            {% for c in comments %}
                <div class="testimonial-inner">
                    <div class="testimonial-title">
                        <div class="post-label">{{ c.title }}</div>
                        <div class="post-date">{{ c.insertDate|date('d-m-Y') }}</div>

                        <div class="testimonial-rating">
                            {% for i in 1..c.cote %}
                                <i class="fa fa-star"></i>
                            {% endfor %}

                        </div><!-- /.testimonial-rating -->
                    </div><!-- /.testimonial-title -->

                    {{ c.content }}
                    <div><a href="{{ path('abuse_new', {'id':c.id}) }}" class="fa fa-exclamation-triangle text-danger">Signaler</a></div>
                    <div class="testimonial-sign">{{ c.member.firstname }}{{ " " }}{{ c.member.lastname }}</div>
                    <!-- /.testimonial-sign -->
                </div><!-- /.testimonial-inner -->

            {% endfor %}
        </div><!-- /.testimonial -->
    </div>
</div>