{# formulaire de création de commentaire #}
{% extends 'default/layout.html.twig' %}

{% block content %}
    <div class="container">
        <h3>Nouveau commentaire</h3>



        <div class="contact-form-wrapper clearfix background-white p30">
            {{ form_start(commentForm) }}
            <div class="row">
                <div class="col-sm-1">
                    <div class="form-group">
                        {{ form_row(commentForm.cote, {'label':'Evaluation', 'attr': {'class':'form-control'}}) }}
                    </div><!-- /.form-group -->
                </div><!-- /.col-* -->
                <div class="form-group col-sm-2">
                        {{ form_row(commentForm.title, {'label' : 'Titre', 'attr': {'class':'form-control'}}) }}
                </div><!-- /.col-* -->

                <div class="col-sm-11">
                    <div class="form-group">
                        {{ form_row(commentForm.content, {'label':'Votre Commentaire', 'attr': {'class':'form-control'}}) }}
                    </div><!-- /.form-group -->
                </div><!-- /.col-* -->


            </div><!-- /.row -->


            <button class="btn btn-primary pull-right">Post Message</button>
            {{ form_end(commentForm) }}
        </div><!-- /.contact-form-wrapper -->
    </div>
{% endblock %}
