{# EN-TETE + NAVIGATIONS #}
<header class="header">
    <div class="header-wrapper">
        <div class="container">
            <div class="header-inner">
                <div class="header-logo">
                    <a href={{ path('homepage') }}>
                        <img src={{ asset("assets/img/logo.png") }} alt="Logo">
                        <span>Bien-être</span>
                    </a>
                </div><!-- /.header-logo -->

                <div class="header-content">

                    {# NAVIGATION 1 #}
                    <div class="header-top">
                        <ul class="header-nav-secondary nav nav-pills">
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Register</a></li>
                        </ul>
                    </div><!-- /.header-top -->

                    {# NAVIGATION 2 #}
                    <div class="header-bottom">
                        <ul class="header-nav-primary nav nav-pills collapse navbar-collapse">
                            {# HOME #}
                            <li>
                                <a href="{{ path('homepage') }}">Home <i class="fa"></i></a>
                            </li>

                            {# LISTES SERVICES #}
                            <li class="has-mega-menu ">
                                <a href="#">Services<i class="fa fa-chevron-down"></i></a>
                                <ul class="mega-menu">
                                    <li>
                                        {% for s in services|slice(0,2) %}
                                        <ul>
                                           <a href="#">{{ s.name }}</a></li>
                                        </ul>
                                       {% endfor %}
                                    </li>
                                    <li>
                                        {% for s in services|slice(2,2) %}
                                            <ul>
                                                <a href="#">{{ s.name }}</a></li>
                                            </ul>
                                        {% endfor %}
                                    </li>
                                    <li>
                                        {% for s in services|slice(4,2) %}
                                            <ul>
                                                <a href="#">{{ s.name }}</a></li>
                                            </ul>
                                        {% endfor %}
                                    </li>

                                   {#TODO: service du mois#}
                                    {#<li class="hidden-xs">
                                        <div class="special">
                                            <a href="#"></a>
                                        </div><!-- /.special-->
                                    </li>#}

                                </ul>
                            </li>

                            {# STAGES TODO #}
                            <li>
                                <a href="#">Stages <i class="fa fa-chevron-down"></i></a>

                                <ul class="sub-menu">
                                    <li><a href="#">todo</a></li>

                                </ul>
                            </li>

                            {# PROMOTIONS TODO #}
                            <li>
                                <a href="#">Promotions <i class="fa fa-chevron-down"></i></a>

                               <ul class="sub-menu">
                                    <li><a href="#">todo</a></li>
                                </ul>
                            </li>

                           {# <li>
                                <a href="#">menu <i class="fa fa-chevron-down"></i></a>

                                <ul class="sub-menu">
                                    <li><a href="#">link</a></li>
                                </ul>
                            </li>#}


                        </ul>


                    </div><!-- /.header-bottom -->
                </div><!-- /.header-content -->
            </div><!-- /.header-inner -->
        </div><!-- /.container -->
    </div><!-- /.header-wrapper -->
</header><!-- /.header -->