{# NAVIGATION 1 #}
<div class="header-top">


    <ul class="header-nav-secondary nav nav-pills">
        {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path("logout") }}">Logout</a></li>
            <li><a href="{{ path('update_profile') }}">Update</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li
                        {%  if 'admin_users' in app.request.attributes.get('_route') %}
                    class="active"
                        {% endif %}><a href="{{ path('admin_users') }}">Admin</a></li>
                {% endif %}

        {% else %}
            <li><a href="{{ path("login") }}">Login</a></li>
            <li><a href="{{ path("preregister") }}">Register</a></li>
        {% endif %}
    </ul>



</div><!-- /.header-top -->


{# NAVIGATION 2 #}
<div class="header-bottom">


    <ul class="header-nav-primary nav nav-pills collapse navbar-collapse">

        {# HOME #}
        <li
            {%  if 'homepage' in app.request.attributes.get('_route') %}
                class="active"
            {% endif %}>
            <a href="{{ path('homepage') }}">Home<i class="fa"></i></a>
        </li>

        {# LISTES SERVICES #}
        <li
            {%  if 'list_services' in app.request.attributes.get('_route') %}
                class="active"
            {% endif %}>
            <a href="{{ path('services') }}">Services<i class="fa"></i></a>

        </li>

        {# STAGES  #}
        <li
                {%  if 'list_stages' in app.request.attributes.get('_route') %}
            class="active"
                {% endif %}>
            <a href="{{ path('stages') }}">Stages <i class="fa"></i></a>

        </li>

        {# PROMOTIONS  #}
        <li
                {%  if 'promotions' in app.request.attributes.get('_route') %}
            class="active"
                {% endif %}>
            <a href="{{ path('promotions') }}">Promotions <i class="fa"></i></a>

        </li>



    </ul>

    {{ render(controller(
        'AppBundle\\Controller\\ServiceController::searchServices'
    )) }}

</div><!-- /.header-bottom -->


