{# NAVIGATION 1 #}
<div class="header-top">


    <ul class="header-nav-secondary nav nav-pills">
        {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path("logout") }}">Logout</a></li>
            <li><a href="{{ path('update_profile') }}">Update</a></li>
        {% else %}
            <li><a href="{{ path("login") }}">Login</a></li>
            <li><a href="{{ path("preregister") }}">Register</a></li>
        {% endif %}
    </ul>



</div><!-- /.header-top -->


{# NAVIGATION 2 #}
<div class="header-bottom">


    <ul class="header-nav-primary nav nav-pills collapse navbar-collapse">

        {# HOME #}
        <li>
            <a href="{{ path('homepage') }}">Home <i class="fa"></i></a>
        </li>

        {# LISTES SERVICES #}
        <li>
            <a href="{{ path('list_services') }}">Services<i class="fa"></i></a>

        </li>

        {# STAGES  #}
        <li>
            <a href="{{ path('list_stages') }}">Stages <i class="fa"></i></a>

        </li>

        {# PROMOTIONS  #}
        <li>
            <a href="{{ path('list_promos') }}">Promotions <i class="fa"></i></a>

        </li>

        {# <li>
             <a href="#">menu <i class="fa fa-chevron-down"></i></a>

             <ul class="sub-menu">
                 <li><a href="#">link</a></li>
             </ul>
         </li>#}



    </ul>

    <form class="navbar-form" method="GET" action="{{ path('search') }}">
        <ul class="nav navbar-nav navbar-left">
            <li><input type="text" placeholder="Nom" name="by_name"></li>
            <li><input style="margin : 0 10px 0 10px;"  type="text" placeholder="Localité" name="by_location"></li>
            <li><select title="Service" name="by_service">
                    {% for s in services %}
                        <option value="{{ s.name }}">{{ s.name }}</option>
                    {% endfor %}
                </select></li>

            <button type="submit" style="margin-left : 10px;" class="btn btn-sm btn-primary">Recherche</button>

        </ul>
    </form>

</div><!-- /.header-bottom -->


