{# découpe formulaire enregistrement #}
{% extends 'default/layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="page-title">
                <h1>Register</h1>
            </div><!-- /.page-title -->

            {{ form_start(form, {attr:{novalidate : 'novalidate'}}) }}
            <div class="form-group" >

                {{ form_row(form.eMail, {'label' : 'E-mail', 'attr':{'class':'form-control'}}) }}
            </div><!-- /.form-group -->

            <div class="form-group">
                {{ form_row(form.password.first,
                {
                    'label':'Mot de passe',
                    'attr':{'class':'form-control'}
                }) }}
            </div><!-- /.form-group -->

            <div class="form-group">
                {{ form_row(form.password.second,
                {
                    'label':'Retapez le mot de passe',
                    'attr':{'class':'form-control'}
                }

                ) }}
            </div><!-- /.form-group -->

            <div class="form-group">
                {{ form_row(form.userType, {'label':'Type utilisateur'}) }}
            </div>
            

            <button type="submit" class="btn btn-primary pull-right">Register</button>
            {{ form_end(form) }}
        </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
{% endblock %}